<!-- 
<h2>{{produto.nome}}</h2>
<p><img ng-src={{produto.url}} alt="{{produto.url}}" class="img-fluid"/></p>
<p>{{produto.descricao}}</p>
<p>Preço: R$ {{produto.preco}}</p>
<p><a ui-sref="carrinho" class="btn btn-primary">Comprar</a></p>
-->
<div class="col-12" >
    <div class="card text-center">
        <img ng-src={{produto.url}} alt="{{produto.nome}}" class="img-fluid" />
        <div class="card-body">
            <h5 class="card-title">{{produto.nome}}</h5>
            

            <div class="row">
                <div class="col-12">
                    <p class="card-text">{{produto.descricao}}</p>
                    <label for=""><h5>R$ {{produto.preco}}</h5></label>
                </div>             
            </div>
            <div class="row">
                    <div class="col-12">
                            <label>Quantidade</label>
                            <input type="number" ng-value="0" min="0" ng-model="quantidade"/>
                    </div>
            </div>
            <div class="row">
                    <div class="col-lg-3"></div>
                    <a ng-click="addCarrinho()" class=" col-12 col-lg-6 btn btn-primary btn-grid-carrinho btn-block " >
                        <i class="material-icons" style="color: #ffc107">add_circle_outlineshopping_cart</i>
                        <span class="frase-btn-carrinho" style="color: white">Add ao carrinho</span>
                    </a>
                    <div class="col-lg-3"></div> 
            </div>
        </div>
    </div>